parameters:
    phpVersion: 80200
    level: 5
    paths:
        - src
        - tests
    bootstrapFiles:
        - tools/phpunit
includes:
    - /composer/vendor/phpstan/phpstan-phpunit/extension.neon
    - /composer/vendor/phpstan/phpstan-phpunit/rules.neon