parameters:
    phpVersion: 70400
    level: 6
    paths:
        - src
        - tests
    bootstrapFiles:
        - tools/phpunit
includes:
    - /composer/vendor/phpstan/phpstan-phpunit/extension.neon
    - /composer/vendor/phpstan/phpstan-phpunit/rules.neon