<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="BanxicoPHP">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="BANXICO_TOKEN" value="582f0fb5715707e1af3ddbd780b6306916b1049024f7427a54c1073fd3007d32"/>
    </php>
</phpunit>
