<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
    backupGlobals="true"
    backupStaticAttributes="false"
    bootstrap="./vendor/autoload.php"
    cacheTokens="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="false"
    mapTestClassNameToCoveredClassName="false"
    printerClass="PHPUnit\TextUI\ResultPrinter"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    testSuitLoaderClass="PHPUnit\Runner\StandardTestSuiteLoader"
    timeoutForSmallTests="1"
    timeoutForMediumTests="10"
    timeoutForLargeTests="60"
    verbose="false">
    <testsuites>
        <testsuite name="BanxicoPHP">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="BANXICO_TOKEN" value="582f0fb5715707e1af3ddbd780b6306916b1049024f7427a54c1073fd3007d32"/>
    </php>
</phpunit>
